:root {
    --white: rgba(255, 255, 255, 1);
    --dark: 37, 37, 37;
    --grey-100: 245, 245, 245;
    --grey-200: 229, 229, 229;
    --grey-500: 152, 152, 152;
    --green-500: 1, 155, 101;
    --primary: 0, 153, 255;

    --body-bg: rgb(var(--grey-100));
    --header-height: 50.76;
    --bg-header: var(--white);
}