*, *::after, *::before, 
*:after, *:before{
    box-sizing: border-box;
}

ul, ol{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

img{
    width: 100%;
    max-width: 100%;
}

h1{
    font-size: 2em;
}